<div *ngIf="(contact$ | async) as contact" class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{contact.first_name}} {{contact.last_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{contact.nickname}}</h6>
        <p class="card-text"><small class="text-muted">Birthday -&gt; </small> {{contact.birthday | date:'MMM d, y'}}</p>
        <p class="card-text"><small class="text-muted">Gender -&gt; </small> {{contact.gender == 0 ? 'Male' : 'Female'}}</p>
        <app-phones [contactId]="contact.contact_id"></app-phones>
        <p class="card-text"><small class="text-muted">Created at {{contact.created_at | date:'MMM d, y'}}</small></p>
        <p class="card-text"><small class="text-muted">Last updated {{contact.updated_at | date:'MMM d, y'}}</small></p>
        <a href="#" class="btn btn-primary" [routerLink]="['/contacts/form', contact.contact_id]">Edit</a>
      </div>
    </div>
  </div>
</div>

