.avatar-container {
  display: block;
  width: 300px;
  height: 300px;
}
.avatar-container img {
  display: block;
  max-width: 295px;
  max-height: 295px;
  width: auto;
  height: auto;
  padding-top: 5px;
  margin: auto;
}
