<div class="col-4 search-box">
  <input class="form-control" type="text" placeholder="Search..." width="300" [(ngModel)]='searchText' (keyup.enter)="searchContacts()" />
  &nbsp;<button type="submit" class="btn btn-primary mb-2" (click)="searchContacts()">Search</button>
</div>
<div class="alert alert-info" id="contactAlert" role="alert">
  {{actionMessage}}
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><a (click)="setSort('contact_id')">#</a></th>
      <th scope="col">&nbsp;</th>
      <th scope="col"><a (click)="setSort('first_name')">First Name</a></th>
      <th scope="col"><a (click)="setSort('last_name')">Last Name</a></th>
      <th scope="col"><a (click)="setSort('nickname')">Nickname</a></th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr app-contact
      *ngFor="let contact of contacts"
      [contact]="contact"
      (contactDeleted)="contactDeletedAction()">
    </tr>
  </tbody>
</table>
<nav class="pagination_nav">
  <ul class="pagination">
    <li [ngClass]="{'disabled' : currentPage < 2}" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage - 1)">Previous</a></li>
    <li *ngIf="(currentPage - 2) > 0" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage - 2)">{{(currentPage - 2)}}</a></li>
    <li *ngIf="(currentPage - 1) > 0" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage - 1)">{{(currentPage - 1)}}</a></li>
    <li class="page-item active"><span  class="page-link">{{currentPage}}</span></li>
    <li *ngIf="(currentPage + 1) <= pageCount" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage + 1)">{{(currentPage + 1)}}</a></li>
    <li *ngIf="(currentPage + 2) <= pageCount" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage + 2)">{{(currentPage + 2)}}</a></li>
    <li [ngClass]="{'disabled' : currentPage >= pageCount}" class="page-item" class="page-item"><a class="page-link" (click)="setCurrentPage(currentPage + 1)">Next</a></li>
  </ul>
</nav>
