
  <th scope="row">{{ contact.contact_id }}</th>
  <td>{{ contact.first_name }}</td>
  <td>{{ contact.last_name }}</td>
  <td>{{ contact.nickname }}</td>
  <td class="action-btns">
    <button type="button" class="btn btn-outline-success"><span class="material-icons">contact_phone</span></button>&nbsp;
    <button type="button" class="btn btn-outline-primary"><span class="material-icons">edit</span></button>&nbsp;
    <button type="button" class="btn btn-outline-danger"><span class="material-icons">delete_forever</span></button>
  </td>
